@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);

#header4-0 H1 {
  font-size: 30px;
}
#msg-box1-4 DIV {
  font-size: 24px;
  font-family: 'Roboto Slab', serif;
}
#msg-box2-g H2 {
  text-align: center;
}
#msg-box2-f H2 {
  text-align: center;
}
